<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.9.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="6.9.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.9.0" targetFramework="net452" />
  <package id="Nancy" version="2.0.0" targetFramework="net452" />
  <package id="Nancy.Authentication.JwtBearer" version="1.1.1" targetFramework="net452" />
  <package id="Nancy.Authentication.Stateless" version="2.0.0" targetFramework="net452" />
  <package id="Nancy.Hosting.Aspnet" version="2.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.9.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net452" />
</packages>