<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
</packages>